<div class="card" (click)="toggle()">
    <div class="card-body">
      <table class="table">
        <tr><td>{{experienceData.startDate}} - {{experienceData.finishDate}}</td></tr>
        <tr><td>&emsp;<b>{{experienceData.enterprise}}</b></td></tr>
        <tr><td>&emsp;Teléfono: {{experienceData.phone}}</td></tr>
        <tr><td>&emsp;URL: {{experienceData.url}}</td></tr>
        <tr><td>&emsp;Cargo: {{experienceData.position}}</td></tr>
        <tr [hidden]="visible"><td>&emsp;{{experienceData.summary}}</td></tr>
        <tr [hidden]="visible" *ngFor="let detail of experienceData.detailSummary;"><td>&emsp;-{{detail.detail}}</td></tr>
        <tr [hidden]="visible" *ngIf="experienceData.skills!=null"><td>Logros:</td></tr>
        <tr [hidden]="visible" *ngFor="let skil of experienceData.skills;"><td>&emsp;-{{skil.skil}}</td></tr>
      </table>
    </div>    
</div>
<div class="card">
  <div class="card-body">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title class="mat-card-title"><b>{{experienceData.enterprise}}</b></mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle">{{experienceData.startDate}} - {{experienceData.finishDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Cargo: {{experienceData.position}}<br></p>
        <p *ngIf="experienceData.phone != null">Teléfono: {{experienceData.phone}}<br></p>
        <p *ngIf="experienceData.url != null">URL: {{experienceData.url}}<br></p>
        <br>
        <mat-card class="mat-card" [hidden]="visible">
          <mat-card-content>
            <mat-card-subtitle class="mat-card-subtitle">{{experienceData.summary}}</mat-card-subtitle><br>
            <mat-table class="matTable" [dataSource]="detailSummaryDataSource" fixedLayout>
              <ng-container matColumnDef="detail">
                <th mat-header-cell *matColumnDef></th>
                <td mat-cell *matCellDef="let detail">{{detail.detail}}</td>
              </ng-container>
              <tr class="matTr" mat-row *matRowDef="let row; columns: detailSummaryDisplayColumns"></tr>
            </mat-table>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-card" *ngIf="experienceData.skills != null"  [hidden]="visible">
          <mat-card-content>
            <mat-card-title>Logros:</mat-card-title><br>
            <mat-table class="matTable" [dataSource]="skillsDataSource" fixedLayout>
              <ng-container matColumnDef="skil">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let skil">{{skil.skil}}</td>
              </ng-container>
              <tr class="matTr" mat-row *matRowDef="let row; columns: skillsDisplayColumns"></tr>
            </mat-table>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="btn btn-outline-primary" mat-button (click)="toggle()">Detalles</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>